@using TravelMvcProject.Models.Siniflar
@model List<Hakkimizda>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Hakkımızda</h3>

            @foreach (var hakkimizda in Model)
            {
                <img src="@hakkimizda.FotoUrl" alt="" />
                <p>@hakkimizda.Aciklama</p>
            }

        </div>
    </div>
</div>

